* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face {
    font-family: "NotoSans";
    src: url("../resources/NotoSans-Light.ttf") format("truetype");
}

body {
    font-family: "NotoSans";
    color: #000000;
}

wrap {
    padding: 5px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

tr, td {
    padding: 5px;
}

div {
    padding: 10px 10px;
    display: table;
    flex: 1 1 auto;
}

.bullet {
    padding: 1px;
    text-align: right;
    color: #D4D4CE;
}