* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face {
    font-family: "NotoSans";
    src: url("NotoSans-Light.ttf") format("truetype");
}

body {
    /*Layout*/
    width: 100%; height: 100%;
    /*Scroll options*/
    overflow-x: scroll;
    overflow-y: scroll;
    position: fixed;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /*Text&Color*/
    font-family: "NotoSans";
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

wrap {
    /*Layout*/
    height: 100%;
    /*Flex Container options*/
    display: flex;
    flex-direction: column;
}

/*header*/
header {
    /*Layout*/
    width : 100%; height : 130px;
    padding: 5px 10px;
    /*Flex Container options*/
    display: flex;
    flex-direction: row;
    /*Flex Item options*/
    align-self: flex-start;
    flex: 0 0;
    /*Text&Color*/
    background-color: #F8F5F5;
}
.titleArea {
    /*Flex Item options*/
    flex: 1 1 auto;
}
.title {
    /*Text&Color*/
    color: #F56975;
    font-size: 55px;
}
.subtitle {
    /*Text&Color*/
    color: #F6BBC6;
    font-size: 25px;
}
.menubutton {
    /*Flex Item options*/
    flex: 0 0 auto;
}
img {
    /*Layout*/
    height: 100%;
    padding: 10px;
}

/*main body*/
.body {
    /*Layout*/
    width: 100%;
    /*Flex Container options*/
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /*Flex Item options*/
    flex: 1 1 auto;
    /*Text&Color*/
    background-color: white;
}

.menu{
    /*Layout*/
    padding: 10px 10px;
    /*Scroll options*/
    display: inline-block;
    overflow: auto;
    /*Text&Color*/
    white-space: nowrap;
    border: 3px solid #F6BBC6;
}
table {
    /*Text&Color*/
    font-family: "NotoSans";
    color: #202E71;
}
tr, td {
    /*Layout*/
    padding: 5px;
    /*Text&Color*/
    vertical-align: top;
}
.bullet {
    color: #F6BBC6;
}
.main{
    /*Scroll options*/
    overflow: auto;
    /*Flex Item options*/
    flex-grow: 1;
    /*Text&Color*/
    border: 3px solid #F6BBC6;
}


/*footer*/
footer {
    /*Layout*/
    width : 100%; height : auto;
    padding: 10px 25px;
    /*Flex Item options*/
    align-self: flex-end;
    flex: 0 0 auto;
    /*Text&Color*/
    background-color: #F8F0EE;
    font-family: "NotoSans";
}
.contacttext {
    /*Text&Color*/
    font-size: 18px;
    text-align: right;
    color: #F56975;
}
